version: '3.2'

services:
  multilogin:
    image: 'golang:1.9.2'
    volumes:
      - 'data:/go'
      - '.:/go/src/github.com/Azunyan1111/multilogin'
    ports:
    # localPort:DockerPort
      - '8080:8080'
      - '443:443'
    links:
      - "db"
      - "redis"
    environment:
      - 'PORT=8080'
      - 'SESSION_SECRET'
    command: bash -c 'cd /go/src/github.com/Azunyan1111/multilogin &&
     go get ./... &&
     export DOCKER_DATABASE_URL="root:password@tcp(db:3306)/ml?parseTime=true" &&
     go run main.go'

  db:
    build: './mysql'
    ports:
     - '3306:3306'
    environment:
        MYSQL_DATABASE: ml
#        ルートのパスワードをGitHubで公開するのはとてもよろしくないと思う。
#        で、でもサーバーのポートを開けなかったら問題ないよね！？
        MYSQL_ROOT_PASSWORD: password

  redis:
    image: 'redis:3.2'
    ports:
      - '6379:6379'


volumes:
  data:
    driver: 'local'