{{template "header"}}
        {{if .Message}}
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
    <strong>warning</strong>{{.Message}}</div>
        {{end}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p id="test_ConfirmedNew">サービス連携</p>
                </div>
                <div class="panel-body">
                    <p>{{.Service.ServiceName}}と連携してます<br></p>
                    <p>このサービスでは下記の情報を提供します。</p>
                    {{if .Service.UserName}}
                        <p>ユーザー名</p>
                    {{end}}
                    {{if .Service.UserEmail}}
                        <p>メールアドレス</p>
                    {{end}}
                    {{if .Service.UserImage}}
                        <p>サムネイル画像</p>
                    {{end}}
                    {{if .Service.UserAge}}
                        <p>年齢</p>
                    {{end}}
                    {{if .Service.UserBirthday}}
                        <p>生年月日</p>
                    {{end}}
                    {{if .Service.UserPhone}}
                        <p>電話番号</p>
                    {{end}}
                    {{if .Service.UserAddress}}
                        <p>住所</p>
                    {{end}}
                    <form class="form-horizontal" action="/service/new" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" name="csrf" hidden value="{{.Csrf}}">
                                <button type="submit" value="Save" class="btn btn-default">連携</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{{template "footer"}}