{{template "header"}}
        {{if .Message}}
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
    <strong>warning</strong>{{.Message}}</div>
        {{end}}
            <div class="panel panel-default" style="max-width: 330px;margin: 0 auto;">
                <div class="panel-heading">
                    <p id="test_userNew">ログイン</p>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/login" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" name="InputEmail" required="required" placeholder="メールアドレス" value="{{.Email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" name="csrf" hidden value="{{.Csrf}}">
                                <button class="btn btn-lg btn-primary btn-block" value="Save" type="submit">ログイン</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{{template "footer"}}